@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #000000;
    color: #F6F6F6;
    box-sizing: border-box;
}

.presentacion__contenido__titulo {
    font-family: "Krona One", serif;
    color: #F6F6F6;
    font-size: 36px;    

}

.presentacion__contenido__texto {
    font-family: "Montserrat", serif;
    color: #F6F6F6;
    font-size: 24px;
}

.presentacion {
    display: flex;
    align-items: center;
    padding: 6% 15%;
    justify-content: space-between;
}

.presentacion__contenido {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido__titulo__destaque {
    color: #22D4FD;
}

.presentacion__enlaces {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;

}

.presentacion__enlaces__link {
    width: 378px;
    color: #F6F6F6;
    background-color: #000000;
    text-align: center;
    padding: 21.5px 0;
    border: 2px solid #22D4FD;
    font-family: "Montserrat", sans-serif;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 10px;

}

.presentacion__enlaces__link:hover { /* Al colocar el cursor en el botón, cambia de color */
    background-color: #272727;

}

.presentacion__enlaces__subtitulos {
    font-family: "Krona One", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.Footer { 
    background-color: #22D4FD;
    padding: 24px;
    color: #000000;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.header {
    padding: 2% 0% 0% 15%;

}

.header__menu {
    display: flex;
    gap: 80px;
}

.header__menu__link {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #22D4FD;
    text-decoration: none;
}
